---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	titleSpan: string;
	subtitle: string;
	buttonText: string;
	asset: string;
}

const { title, titleSpan,subtitle,buttonText,asset } = Astro.props;
---

<div class="bannerHero">
	<div class="bannerHero__content">
		<section class="container px-4 2xl:px-0">

			<div class="bannerHero__textImg py-8 md:py-2 sm:flex sm:justify-between sm:items-center">
				<div class="bannerHero__wrapText my-4">
					<h2 class="bannerHero__title text-secondary text-[1.375rem] xl:text-[3rem] mb-4 md:mb-8">
						{title} <span class="text-white">{titleSpan}</span>
					</h2>
		
					<p class="bannerHero__subtitle lineText text-white text-[.875rem] sm-text-[.875rem] mb-6 md:mb-8">
						{subtitle}
					</p>
		
					<a href="" class="btn bg-secondary px-3 py-2 text-white text-[.875rem] md:text-[1.375rem]
					">
						{buttonText}
					</a>
				</div>

				<div class="bannerHero__img">
					<Image src={asset} alt="Image Banner Hero" width="1920" height="620" class="anime__img" />

				</div>
			</div>			
		</section>
	</div>

	<div class="bannerHero__bg">
		<Image src="/images/bg-main-slider.jpeg" alt="Background Banner Hero" width="1920" height="620" />
	</div>

</div>

<style lang="scss">
	.anime__img {
    	animation: moving 1.5s infinite  alternate;
	}

	@keyframes moving{
		0% { transform: translateY(0); }
		100% { transform: translateY(-10px); }
	}

	@keyframes scaling{
		0% { transform: scale(1); }
		100% { transform: scale(1.3); }
	}

	.bannerHero {
		position: relative;

		&__textImg {
			position: relative;
			z-index: 2;
		}

		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;		
			overflow: hidden;

			&::before {
				content: " ";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: .78;
				position: absolute;
				background: linear-gradient(90deg, #0c0b0b 15.78%, hsla(0, 4%, 5%, .3) 77.08%);
				z-index: 1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				animation-name: scaling;
				animation-duration: 10s;
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
				animation-direction: alternate;
				animation-delay: -1s;
			}
		}

		&__img {
			margin-top: 8px;
			img {
				width: 20%;
			}
		}

		&__title {
			font-weight: 800;
			line-height: 1;

			span {
				display: block;
			}
		}
	}	

	@media(screen(sm)) {	
		.bannerHero {			

			&__img {
				display: flex;
				justify-content: right;
				img {
					width: 60%;
				}
			}
		}
	}

	@media(screen(md)) {		

		
		.bannerHero__wrapText {
			max-width: 560px;
		}

		.bannerHero__subtitle {
			font-size: 1.25rem;
		}

	}

	@media(screen(2xl)) {

		.bannerHero__img {
			margin-top: 48px;

			img {
				width: 90%;
			}
		}
	}

</style>
