---
import CardTeam from './CardTeam.astro';
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="team__content my-8 md:my-12" id="team">
	<div class="container px-4 2xl:px-0">
		<div class="team__wrap flex flex-col md:flex-row">
			<div class="team__cards order-2 md:order-1 md:pr-4 lg:pr-8">

				<CardTeam 
					photo='/images/rafael-ruppel.jpeg'
					name='Rafael Ruppel'
					role='Founder & Advisor'
					description={i18n.TEAM.RAFAEL_R_ABOUT}				
				/>	
		
				<CardTeam 
					photo='/images/vitor-santos.jpeg'
					name='Vitor Santos'
					role='Founder & CEO'
					description={i18n.TEAM.VITOR_S_ABOUT}				
				/>
		
				<CardTeam 
					photo='/images/guilherme-serrano.jpeg'
					name='Guilherme Serrano'
					role='Founder & Advisor'
					description={i18n.TEAM.GUILHERME_S_ABOUT}					
				/>

				<CardTeam 
					photo='/images/peterson-camargo.jpeg'
					name='Peterson Camargo'
					role='Founder & Co-CTO'
					description={i18n.TEAM.PETERSON_C_ABOUT}					
				/>

				<CardTeam 
					photo='/images/Daniel-bemfica.jpeg'
					name='Daniel Bemfica'
					role='Software Architect'
					description={i18n.TEAM.DANIEL_B_ABOUT}					
				/>
				<CardTeam 
					photo='/images/Eduardo-santana.jpg'
					name='Eduardo Santana'
					role='Software Architect'
					description={i18n.TEAM.EDUARDO_S_ABOUT}					
				/>

			</div>

			<div class="team__about mb-8 md:mb-2 md:order-2">
				<h3 class="team__group mb-6 md:mb-5 text-primary">
					{i18n.TEAM.TITLE}	
				</h3>

				<div class="team__textCaption lineText ">
					{i18n.TEAM.SHORT_DESCRIPTION}	
				</div>
        
			</div>
		</div>
	</div>
</div>

<style lang="scss">

	.team__group {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 1;
	} 

	.team__textCaption {
		position: relative;
		color: #495861;
		line-height: 1.4;
	}

	@media (min-width: 480px) {
		.team__cards {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
		}
	}

	@media (screen(sm)) {
		.team__cards {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;

			:global(.cardTeam) {
				max-width: 340px;
			}
		}
	}

	@media (screen(md)) {
		.team__group {
			font-size: 2.125rem;
			max-width: 280px;
		}

		.team__textCaption  {
			width: 270px;
			font-size: 1.125rem;

		}
	}

</style>
